<!DOCTYPE html>
<html>

<head>
    <title>Verifying Your Account</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div>
        <h1>Verifying Your Account</h1>
        <br>
        <h2>Welcome to our Web, before you enjoy write your story, </h2>
        <br>
        <p><span>Please click the Link Below</span></p>
        <a href={{link}} target="_blank">
            <button
                style="background-color:white; font:black; padding:5px; border:1px solid black; border-radius:50%;">Verify your Account
            </button>
        </a>
    </div>
</body>

</html>